@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    background: #e2e2e2;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#start-page{
    text-align: center;
    display: flex;
    justify-content: center;
}

.container{
    width: 1000px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.start-title{
    font-size: 50px;
    color: #9f9bbc;
}

.text-color{
    color: #f68eab;
    font: bold;
}

/* button style */
.start-btn{
    margin-top: 24px;
}

a.btn{
    display: inline-block;
    padding: 8px;
    border: 3px solid #f68eab;
    margin: 4px 0 4px 0;
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    color: #f68eab;
    text-align: center;
    transition: all 0.2s;
    font-size: 30px;
}

a.btn:hover{
    background-color: #f68eab;
    color: #e2e2e2;
}

/* making the button bounce*/
.bouncy {
  animation: bouncy 3s infinite;
  position: relative;
  
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
